*
{
    background-color: rgb(224, 230, 240);
}
.container
{
    width:100%;
    padding-top: 20px;
}
.title
{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 60px;
    
}
.eventlist
{
    text-align: center;
    display: inline-block;
}
.heart
{
    cursor: pointer;
    color:red;
}
.add
{
    color: black;
}
.heart:hover
{
    color:white;
}